<div class="ms-4 mt-2" *ngIf="students">
  <div *ngIf="mode === 'details'">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Class</th>
          <th>Cnp</th>
          <th>Email</th>
          <th>Phone number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of students">
          <td>{{s.id}}</td>
          <td>{{s.firstName}}</td>
          <td>{{s.lastName}}</td>
          <td>{{schoolClass?.className}}</td>
          <td>{{s.cnp}}</td>
          <td>{{s.email}}</td>
          <td>{{s.phoneNumber}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="mode === 'grades'">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Grades</th>
          <th *ngFor="let category of categories">{{category.name}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sGrades of studentsGrades">
          <td>{{sGrades.id}}</td>
          <td>{{sGrades.firstName}}</td>
          <td>{{sGrades.lastName}}</td>
          <td>{{sGrades.grades}}</td>
          <td *ngFor="let c of categories">{{sGrades.categoryGrades[c.id]}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="!mode && students">
  <div *ngFor="let s of students">
    <p>Id = {{s.id}}, Name = {{s.firstName}} {{s.lastName}}</p>
  </div>
</div>
<p *ngIf="!students">No students to show</p>

<div *ngIf="mode === 'grades'" >
  <button *ngIf="!showAddGradeForm" class="btn btn-primary me-2" (click)="toggleAddGradeMode('addGrade')"> Add Grade </button>
  <button *ngIf="!showAddGradeForm" class="btn btn-primary" (click)="toggleAddGradeMode('addCategoryGrade')"> Add Category Grade </button>
  <app-add-grade *ngIf="showAddGradeForm" (reloadStudentGrades)="gradeAdded()" (removeForm)="hideComponent()" [mode]="addGradeMode" [categories]="categories" [students]="students"></app-add-grade>
</div>



