<div class="ms-4 mt-2" *ngIf="students">
  <div *ngIf="mode === 'details'">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Class</th>
          <th>Cnp</th>
          <th>Email</th>
          <th>Phone Number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of students">
          <td>{{s.id}}</td>
          <td>{{s.firstName}}</td>
          <td>{{s.lastName}}</td>
          <td>{{schoolClass?.className}}</td>
          <td>{{s.cnp}}</td>
          <td>{{s.email}}</td>
          <td>{{s.phoneNumber}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="mode === 'grades'">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Grades</th>
          <th *ngFor="let category of categories">{{category.name}}</th>
          <th *ngIf="testMode">Select student:</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sGrades of studentsGrades">
          <td>{{sGrades.id}}</td>
          <td>{{sGrades.firstName}}</td>
          <td>{{sGrades.lastName}}</td>
          <td>{{sGrades.grades}}</td>
          <td *ngFor="let c of categories">{{sGrades.categoryGrades[c.id]}}</td>
          <td *ngIf="testMode">
            <input class="float-end" type="checkbox" [checked]="isSelected(sGrades.id)" (change)="toggleSelectedId(sGrades.id)" />
          </td>
        </tr>   
      </tbody>  
        
    </table>
    <div class="row mt-2">
      <div class="col-12 text-end">
        <div class="btn-group">
          <button *ngIf="testMode" class="btn btn-primary" (click)="createTests()">Generate Tests</button>
          <button *ngIf="testMode" class="btn btn-primary" (click)="cancelCreateTests()">Cancel</button>
        </div>       
      </div>
    </div>
  </div>
  <div *ngIf="mode === 'attendance'">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Absence Dates:</th>
          <th *ngIf="attendanceMode">Absent:</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of studentsAttendance">
          <td>{{s.id}}</td>
          <td>{{s.firstName}}</td>
          <td>{{s.lastName}}</td>
          <td>
            <p *ngFor="let date of s.presenceDates">{{date | date:'yyyy-MM-dd HH:00'}}</p> 
          </td>
          <td *ngIf="attendanceMode">
            <input class="float-end" type="checkbox" [checked]="isSelected(s.id)" (change)="toggleSelectedId(s.id)" />
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-2">
        <button *ngIf="!attendanceMode" class="btn btn-primary me-2" (click)="toggleAttendanceMode(true)"> Check Attendance </button>
      </div>
      <div class="col-2">
      <button *ngIf="attendanceMode" class="btn btn-primary me-2" (click)="toggleAttendanceMode(false)"> Cancel </button>        
      </div>
      <div class="col-8">
        <button *ngIf="attendanceMode" class="btn btn-primary float-end" (click)="addAbsences()">Add Absences</button>
      </div>
    </div>
    
  </div>
</div>

<p *ngIf="!students">No students to show</p>

<div *ngIf="mode === 'grades'" >
  <button *ngIf="!showAddGradeForm" class="btn btn-primary me-2" (click)="toggleAddGradeMode('addGrade')"> Add Grade </button>
  <button *ngIf="!showAddGradeForm" class="btn btn-primary me-2" (click)="toggleAddGradeMode('addCategoryGrade')"> Add Category Grade </button>  
  <button *ngIf="!showAddGradeForm && !testMode" class="btn btn-primary" (click)="toggleTestMode(true)"> Create Test </button>  
  <app-add-grade *ngIf="showAddGradeForm" (reloadStudentGrades)="gradeAdded()" (removeForm)="hideComponent()" [mode]="addGradeMode" [categories]="categories" [students]="students"></app-add-grade>
</div>



